.container{
  display: flex;justify-content: space-around;
}
.image{
  height :90vh; background-size:cover; width:auto;
  background-image:url('../assets/world.png ');
  background-position:50% 50%;
}
.header{
  height:10vh;
}
.title {
  font-size: 48px;
  color: gold;
  font-weight: bold;
  text-align: center;
}
