<div class="container">
<div class="travel">
<h3> how to fulfil your dream to travel  </h3>
    <h2>Traveling</h2>
  <p> “Once a year, go someplace you’ve never been before.”</p>
  <div></div>
    <div class="container">
      <app-add-place></app-add-place>
      <app-add-visited-place></app-add-visited-place>
    </div>

    <div class="container">
      <div>
        <app-to-visit-place></app-to-visit-place>
      </div>
      <div>
        <app-visited-place></app-visited-place>
      </div>
    </div>

  </div>
</div>
