.container{
  display: flex;justify-content: space-around;
}
.image{
  height :90vh; background-size:cover; width:auto;
  background-image:url('../assets/bg.png ');
  background-position:50% 50%;
}
.header{
  height:10vh;
}
.title {
  font-size: 48px;
  color: gold;
  font-weight: bold;
  text-align: center;
}

.button-travel{
  border-radius: 15px;
  min-width: 5vw;
  min-height: 3vh;
}
.button-travel-delete{
  background-color: red;
}
.button-travel-visited{
  background-color: #60A830;
}
