<div class="container">
  <div>
    <input [(ngModel)]="newPlace">
    <button (click)="add()">
      Dodaj
    </button>
  </div>
</div>
<div class="containter">
  <div>
    <ng-container *ngIf="placesList.length >0; else  noPlace">
    Miejsca do odwiedzenia
    <ul>
      <li *ngFor="let place of placesList">
        {{place}}
        <button (click) ="remove(place)"> Usuń </button>
        <button (click)="done(place)"> Odwiedzone </button>
      </li>
    </ul>
    </ng-container>
    <ng-template #noPlace>
      <p>
        Brak miejsc do oddwiedzenia
      </p>

    </ng-template>
  </div>
  <div>
    Miejsca odwiedzone  : {{placesVisited.length}}
    <p>

    </p>
 <ul>
   <li *ngFor="let place of placesVisited">
     {{place}}
   </li>
 </ul>
  </div>
</div>
