<p class="title">
  Witam w
  {{city|uppercase}} <br>
</p>
<p>
  Dni tygodnia
</p>
<div *ngFor="let day of days">
  <div [ngSwitch]="day">

  <div *ngSwitchCase="'Poniedziałek'"> PONIEDZIAŁEK</div>
  <div *ngSwitchCase="'Wtorek'"> WTOREK</div>
  <div *ngSwitchCase="'Środa'"> ŚRODA</div>
  <div *ngSwitchCase="'Czwartek'"> CZWARTEK</div>
  <div *ngSwitchCase="'Piątek'"> PIATEK</div>
  <div *ngSwitchCase="'Sobota'"> SOBOTA</div>
  <div *ngSwitchCase="'Niedziela'"> NIEDZIELA</div>

</div>
</div>




