table {

}
 td {
  border-style: solid;
  border-color: pink;
}

 tr {
   background-color: gold;
 }

 p{
   color: navy;
   font-size: 24px;
 text-align: center;
   font-style: italic;
 }

.title{
color: pink;
  font-weight: bold;
  font-style: normal;
  font-size: 36px;
}
 .squere{
  list-style-type: square;
   color: navy;
}
 .color{
   color: aqua;
 }
 .color2{
   color:magenta;
 }
